<!DOCTYPE html>

<html ng-app="dartApp">
    <head>
        <script src="bower_components/angular/angular.js"></script>
        <script src="build/darts.js"></script>
        <script src="build/dart-control.js"></script>
        <script src="build/dart-app.js"></script>
    </head>
    <body ng-controller="dartControl">
    <form name="dartForm" ng-submit="vm.submitScore()">
        <input ng-model="dartScore"></input>
        <button type="submit">{{ preview }}</button>
    </form>
        <p>{{ previewScore }}</p>
        <p>{{ score }}</p>
        <table>
            <tr ng-repeat="h in history">
                <td>{{ $index+1 }}</td><td>{{ h[1] }}</td><td>{{ h[2] }}</td>
            </tr>
        </table>
    </body>
</html>
